.profile{
    width: 100%;
    height: 100vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 40%;
    height: 60%;
    background-color: rgb(184, 184, 184);
}